.small-links a {
  width: 30px;
  font-size: 17px;
  height: 30px;
  color: rgb(1, 1, 1);
  text-decoration: none;
}

.small-links a:hover {
  color: rgb(31, 132, 20);
}

.small-links img {
    margin-left: 18px;
    margin-bottom: 8px;
    width: 25px;
    height: 25px;
}

.small-links {
  margin-left: 60%;
  position: relative;
}

.header-container {
  display: flex;
}

.location-icon-header img {
  width: 30px;
  height: 30px;
}

.location-icon-header a {
  text-decoration: none;
  color: black;
}

.location-icon-header a:hover{
  color: rgb(18, 105, 13);
}

.box {
  flex: 1;
  padding: 20px;
}
/* @media  screen and (max-width: 768px) {
    .small-icons {
        margin-left: 70%;
        margin-top: 1%;
    }

    .small-icons img {
        width: 20px;
        height: 20px;
    }
} */
