.small-links a {
  width: 30px;
  font-size: 17px;
  height: 30px;
  color: rgb(1, 1, 1);
  text-decoration: none;
}

.small-links a:hover {
  color: rgb(31, 132, 20);
}

.small-links img {
    margin-left: 18px;
    margin-bottom: 8px;
    width: 25px;
    height: 25px;
}

.small-links {
  margin-left: 85%;
  margin-top: 1%;
  position: relative;
}


/* @media  screen and (max-width: 768px) {
    .small-icons {
        margin-left: 70%;
        margin-top: 1%;
    }

    .small-icons img {
        width: 20px;
        height: 20px;
    }
} */
