.title-name {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
/* .title-name:hover {
  text-decoration: underline;
} */
.common-color {
  color: rgba(0, 0, 0, 0.932);
}

.intro-wrapper {
  margin-left: 14%;
  width: 640px;
  margin-top: 8%;
  position: absolute;
}

.flex-container {
  display: flex;
  width: 500px;
  line-height: 1;
}

.container-first .container-second {
  display: block;
}

.description {
  color: rgb(30, 28, 28);
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.type-writer-text {
  color: rgb(45, 18, 107);
  font-weight: bold;
}

.image-container {
  margin-left: 45%;
  margin-top: 3%;
  /* position: absolute; */
}

.image-container img {
  width: 900px;
}

.summary-section {
  margin-top: 10%;
  width: 550px;
  font-size: 20px;
  /* background-color: aqua; */
}

/*For Mobile screen view */
@media screen and (max-width: 768px) {
  .intro-wrapper {
    margin-left: 16%;
    margin-top: 17%;
  }

  .title-name {
    font-size: 35px;
  }
}
