.title-name {
  text-decoration: none;
  font-size: 60px;
}
.title-name:hover {
  text-decoration: underline;
}
.common-color {
  color: rgba(230, 235, 237, 0.932);
}

.intro-wrapper {
  margin-left: 14%;
  margin-top: 8%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .intro-wrapper {
    margin-left: 16%;
    margin-top: 17%;
  }

  .title-name {
    text-decoration: none;
    font-size: 35px;
  }
}
