@import "bootstrap/dist/css/bootstrap.min.css";

@media screen and (max-width: 768px) {
  .font-big {
    font-size: 20px !important;
  }
  .custom-cursor {
    font-size: 30px !important;
  }

  .heading-image {
    height: 400px !important;
  }
}

.header-wrapper {
  background-color: white;
}

.vertical-line {
  width: 15px;
  height: 150px;
  margin-left: 12%;
  background-color: rgb(45, 18, 107);
  margin-top: 3.6%;
  position: absolute;
}

.font-big {
  font-size: 30px;
}

.intro-wrapper {
  margin-left: 14%;
  width: 640px;
  margin-top: 4%;
  position: absolute;
}

.first-section-wrapper {
  background-color: white;
  border-bottom-left-radius: 20%;
  padding-bottom: 50px;
}

.second-section-wrapper {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  margin-top: 10%;
  position: absolute;
}
