@import "bootstrap/dist/css/bootstrap.min.css";

@media screen and (max-width: 768px) {
  .font-big {
    font-size: 20px !important;
  }
  .custom-cursor {
    font-size: 30px !important;
  }

  .heading-image {
    height: 400px !important;
  }
}

.second-section {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 500px;
  margin-top: 50px;
  position: absolute;
}

/* .light-color {
  color: rgba(4, 5, 4, 0.744);
} */

/* .text-unique {
  color: rgba(9, 127, 32, 0.744);
} */

.vertical-line {
  width: 15px;
  height: 150px;
  margin-left: 12%;
  background-color: rgb(45, 18, 107);
  margin-top: 3.6%;
  position: absolute;
}

.font-big {
  font-size: 30px;
}
